# Configurações do Telegram e IA
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_CHAT_ID=seu_id_aqui
GEMINI_API_KEY=sua_api_key_aqui

# Banco de Dados (Supabase/PostgreSQL)
DATABASE_URL=sua_url_aqui

# Caminhos de Arquivos Locais (ETL e Relatórios)
PATH_RELATORIO=seu_caminho_aqui
PATH_DATABASE_MANUAL=seu_caminho_aqui
PATH_AGENT_MANUAL=seu_caminho_aqui